<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EFE-Forms web">
    <meta name="author" content="Cotarelo & Payá">

    <title>EFE-Forms</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/ico/favicon.png">
    <link rel="shortcut icon" href="/img/ico/favicon.png">
    <!-- UIKIT & JQUERY -->
    <link rel="stylesheet" href="/css/uikit.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/uikit-icons.js"></script>
    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet" media="screen">

</head>

<body>

    <!-- NOTIFICACION -->


    {{#if mensaje}}
    <script>
        UIkit.notification({
            message: '{{ mensaje }}',
            status: 'success'
        })
    </script>
    {{/if}}
    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');

        if (mensaje != "") {
            if (tipoMensaje == "") {
                tipoMensaje = 'primary';
            }
            UIkit.notification({
                message: mensaje,
                status: tipoMensaje
            })

        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>

    <!--HEADER-->
    <header class="uk-box-shadow-small">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar" data-uk-navbar>
                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="/"><img width="100" height="30" src="/img/icons/logo_efe.png"
                            alt=""></a>
                </div>

                <div class="uk-navbar-right">
                    <!-- uk-visible@m Lo visualiza en pantallas más pequeñas de m-->
                    <ul class="uk-navbar-nav uk-visible@m">
                        <div class="uk-navbar-item">
                            <a href="/addForm" class="uk-button uk-button-efe uk-border-rounded uk-visible@m">
                                <span data-uk-icon="pencil" class="uk-margin-small-right">
                                </span>Crear formulario
                            </a>
                        </div>
                        <li>
                            <a href="/misForms">
                                <span data-uk-icon="list" class="uk-margin-small-right">
                                </span> Mis formularios
                            </a>
                        </li>
                        <li>
                            <a href="/explore">
                                <span data-uk-icon="search" class="uk-margin-small-right">
                                </span> Explorar
                            </a>
                        </li>
                    </ul>

                    <!-- Quitar cuando añadamos usuarios 
                <div class="uk-navbar-item">
                    <a href="/login"
                       class="uk-button uk-button-default uk-visible@m">
                        <span data-uk-icon="user"
                              class="uk-margin-small-right">
                        </span>Acceder
                    </a>
                </div>
                -->

                    {{#if usuarioAutenticado}}
                    <div class="uk-navbar-item">
                        <button class="uk-button uk-button-default uk-visible@m" type="button">
                            {{usuarioAutenticado}}
                        </button>
                        <div uk-dropdown>
                            <a href="/logout">
                                <span class="uk-margin-small-right" uk-icon="icon: lock"></span>
                                </span> Log out
                            </a>
                        </div>
                    </div>

                    {{/if}}
                    {{^usuarioAutenticado}}
                    <div class="uk-navbar-item">
                        <a href="/login" class="uk-button uk-button-default uk-visible@m">
                            <span data-uk-icon="sign-in" class="uk-margin-small-right">
                            </span>Acceder
                        </a>
                    </div>
                    {{/usuarioAutenticado}}


                    <!-- Menú de movil lo oculta en pantallas mayores de m-->
                    <div class="uk-navbar-item uk-hidden@m">
                        <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Menú para movil - offCanvas -->
    <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
            <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close>
            </button>
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Inicio</li>
                <li>
                    <a href="/addForm" class="uk-button-efe uk-button-small uk-border-rounded">
                        <span data-uk-icon="pencil" class="uk-margin-small-right"></span>
                        Crear formulario
                    </a>
                </li>
                <li>
                    <a href="/misForms">
                        <span data-uk-icon="list" class="uk-margin-small-right">
                        </span> Mis formularios
                    </a>
                </li>
                <li>
                    <a href="/explore">
                        <span data-uk-icon="search" class="uk-margin-small-right">
                        </span> Explorar
                    </a>
                </li>
                <li>
                    {{#if usuarioAutenticado}}
                        <a href="/logout">
                            <span class="uk-margin-small-right" uk-icon="icon: lock"></span>
                            </span> Log out {{usuarioAutenticado}}
                        </a>
                    {{/if}}
                    {{^usuarioAutenticado}}
                    <a href="/login">
                        <span class="uk-margin-small-right uk-icon" data-uk-icon="icon: user">
                        </span>Acceder
                    </a>
                    {{/usuarioAutenticado}}

                </li>
            </ul>
        </div>
    </div>

    {{{content}}}

    <!--FOOTER-->
    <footer class="uk-section-efe">
        <div class="uk-container uk-section">
            <div class="uk-grid uk-child-width-1-3@m">
                <div>
                    <h4 class="uk-margin-top efe-contrast">{{ usuarioAutenticado }}</h4>
                    <ul class="uk-list efe-contrast">
                        <li><a href="#">Antonio Payá</a></li>
                        <li><a href="#">Alba Cotarelo</a></li>
                    </ul>
                </div>

                <div>
                    <h4 class="uk-margin-top efe-contrast">Legal</h4>
                    <ul class="uk-list efe-contrast">
                        <li><a href="#">Condiciones de uso</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="uk-margin-top efe-contrast">Suscribirse</h4>
                    <form class="uk-grid uk-grid-collapse">
                        <div class="uk-width-expand">
                            <input class="uk-input" type="email" placeholder="E-mail">
                        </div>
                        <div class="uk-width-auto">
                            <button class="uk-button uk-button-secondary" data-uk-icon="check">
                            </button>
                        </div>
                    </form>
                    <h4 class="efe-contrast">Social</h4>
                    <a class="uk-icon-button uk-margin-small-right" data-uk-icon="facebook"></a>
                    <a class="uk-icon-button uk-margin-small-right" data-uk-icon="twitter"></a>
                    <a class="uk-icon-button" data-uk-icon="instagram"></a>
                </div>
            </div>
        </div>
        <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
            <div class="uk-container">
                <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
                    <div class="uk-text-small efe-contrast">
                        Copyright 2019 - Todos los derechos.
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
