/* 
    CSS - EFE-Forms
 */
.uk-button-efe {
    background-color: #f00076;
    color: #fff;
    border: 1px solid transparent;
}

/* Hover + Focus */
.uk-button-efe:hover,
.uk-button-efe:focus {
    background-color: #f08ac4;
    color: #fff;
}
.uk-button-efe-contrast{
    color: #f00076;
    border: 1px solid #f00076;
}
.uk-button-efe-contrast:hover,
.uk-button-efe-contrast:focus{
    color: #f08ac4;
    border: 1px solid #f08ac4;
}

.uk-section-efe {
    background: #f00076;
}

.efe {
    color: #f00076 !important;
}

.efe-contrast{
    color: white;
}

.efe-contrast li a {
    color: white;
    list-style: none;
}

.efe-contrast li a::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.efe-img{
    background-color: #151515;
}
.efe-img img{
    opacity: 0.3;
}

.icons-div-home{
    width: 100%;
}

.input-error-wrong{
    color:#B32A0C;
}
.input-error-right{
    display: none;
}

.efe-form-card{
    background-color: #444444;
}
/* TABLES */
.table-hover:hover{
    background-color: #ffe3f3 !important;
}
.bt-table{
    
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}
.bt-table-del:hover,
.bt-table-del{
    color: rgb(255, 121, 121);
    border: 2px solid rgb(255, 121, 121);
}
.bt-table-upd:hover,
.bt-table-upd{
    color: rgb(156, 143, 255);
    border: 2px solid rgb(156, 143, 255);
}
.bt-table-upd:hover,
.bt-table-del:hover{
    background-color: white;
}

.group-bt-table{
    text-align: center;
}
.group-bt-margin{
    margin-left: 0px;
}
.uk-width-small-efe{
    width: 100px;
}
.uk-table td {
    padding: 12px 12px;
}
