<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport uk-animation-fade>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-5-6 uk-margin-auto">
                    <div class="uk-card uk-card-default uk-card-large uk-grid-collapse uk-child-width-1-2@s uk-margin uk-border-rounded"
                        uk-grid>
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                            <img src="img/fondo_login.png" alt="" uk-cover>
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-text-bold uk-text-uppercase efe">Inicia sesión</h3>
                                <form method="post" action="/login" onsubmit="return(validForm());">

                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input id="username" class="uk-input" name="user" placeholder="Usuario..."
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="uk-margin ">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                            <input id="passwd1" class="uk-input" type="password" name="password"
                                                placeholder="Password...">
                                        </div>
                                    </div>

                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <input id="submitt-button" type="submit" value="Iniciar sesión"
                                                class="uk-button uk-button-efe uk-width-1-1 uk-margin-small-bottom">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <a id="submitt-button" type="submit" href="/register"
                                                class="uk-button uk-button-efe-contrast uk-width-1-1 uk-margin-small-bottom">
                                                Crear cuenta
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validForm() {
        var valid = true;
        var username = document.getElementById("username").value;
        if (!validateNonEmpty('username', username)) valid = false;
        var pass1 = document.getElementById("passwd1").value;
        if (!validateNonEmpty('passwd1', pass1)) valid = false;
        var pass2 = document.getElementById("passwd2").value;
        if (!validateNonEmpty('passwd2', pass2)) valid = false;
        return valid;
    }
    function validateNonEmpty(field, value) {
        if (value == "") {
            return false;
        } else {
            return true;
        }
    }
</script>