<section class="uk-section efe-form-card">
</section>
<div uk-grid>
    <div class="efe-form-card uk-width-1-4 uk-visible@m"></div>
    <div class="uk-card uk-card-default uk-card-body@m uk-width-1-2@m uk-width-1-1@s">
        <form class="form-small@s uk-padding-small" method="post" action="/form/{{form._id}}/addRespuesta">
            <fieldset class="uk-fieldset efe-form">
                <legend class="uk-legend">{{form.titulo}}</legend>
                <p>{{form.descripcion}}</p>
            </fieldset>
            <hr class="uk-divider-icon">
            <fieldset class="uk-fieldset efe-form">
                {{#each form.preguntas}}
                <div class="uk-margin">
                    <label class="uk-form-label" for="pre_{{pregunta}}">{{pregunta}}</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="{{getTipo tipo}}" name="pre_{{pregunta}}"
                               id="pre_{{pregunta}}">
                    </div>
                </div>
                <hr class="uk-divider-icon">
                {{/each}}
            </fieldset>
            <button class="uk-button uk-button-efe uk-border-rounded uk-align-right" type="submit">
                <span data-uk-icon="check" class="uk-margin-small-right"> </span>
                Enviar respuesta
            </button>
        </form>
    </div>
    <div class="efe-form-card uk-width-1-4 uk-visible@m"></div>
</div>
<section class="uk-section efe-form-card">
</section>
