<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider uk-table-responsive">
                <thead>
                    <tr>
                        <th class="uk-table-expand">Título</th>
                        <th class="uk-width-large">Descripción</th>
                        <th class="uk-width-large">Etiquetas</th>
                        <th class="uk-width-small-efe">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each forms}}
                    <tr class="table-hover">
                        <td><strong>{{ titulo }}</strong></td>
                        <td>{{ descripcion }}</td>
                        <td>{{#each tags}}
                            <span class="uk-badge">{{ this }}</span>
                            {{/each}}
                        </td>
                        <td>
                            <div class="group-bt-margin" width="100%" uk-grid>
                                <a class="uk-link bt-table bt-table-upd uk-width-1-2 uk-grid-margin"
                                    href="/form/{{_id}}/edit">
                                    <span uk-icon="pencil"></span>
                                </a> <br>
                                <a class="uk-link bt-table bt-table-del uk-width-1-2 uk-grid-margin"
                                    href="/form/{{_id}}/delete">
                                    <span uk-icon="trash"></span>
                                </a>
                            </div>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#if hasPrevious }}<li><a href="/misForms?pg={{ sumar current -1}}"><span uk-pagination-previous></span></a></li>{{/if}}
            {{#each paginas}}

            <li class="{{ clase }}">
                <a href="/misForms?pg={{ valor }}">{{ valor }}</a>
            </li>

            {{/each}}
            {{#if hasNext }}<li><a href="/misForms?pg={{ sumar current 1}}"><span uk-pagination-next></span></a></li>{{/if}}
        </ul>

    </div>
</section>